{% extends 'base.html' %}

{% block 'title' %}
Enroll Details
{% endblock %}

{% block 'content' %}
    <h1>Subject: {{ subject.course_code }} - {{ subject.course_name }}</h1>
    <ul>
        <li>Course Code: {{ subject.course_code }}</li>
        <li>Course Name: {{ subject.course_name }}</li>
        <li>Semester: {{ subject.semester }}</li>
        <li>Year: {{ subject.year }}</li>
        <li>Seats Available: {{ subject.seats }}</li>
        <li>Quota Status: {{ subject.quota_status }}</li>
    </ul>

    <h2>Enrolled Students:</h2>
    <ul>
        {% for student in subject.enrolled_students.all %}
            <li>{{ student }}</li>
        {% endfor %}
    </ul>

    <h2>Request Quota for New Student</h2>
    <form action="{% url 'courses:request_quota' subject.id %}" method="post">
        {% csrf_token %}
        <label for="name">Student Name:</label>
        <select name="student">
            {% for student in nonenrolled_students %}
                <option value="{{ student.id }}">{{ student }}</option>
            {% endfor %}
        </select>
        <button type="submit">Request Quota</button>
    </form> 

    <a href="{% url 'courses:index' %}">Back to Courses</a>
{% endblock %}